body{   
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0b06a8ff;
}
#bloc_page{
    width: 900px;
    margin: auto;
}
/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #311847ff;
    color: #a01a7dff;
    width: 100%;
}
#titre_principal
{
    display: flex;
    flex-direction: column;

}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}
header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0 0 0 10px;;
    
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
/********** NAVIGATION ******/

nav ul
{
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 15px;
}
nav a
{
    font-size: 1.3em;
    color: #ec4067ff;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/******* BANNIERE **************/
#banniere_image
{
    height: 300px;
    width: 100%;
    border-radius: 5px;
    background-image: url('../img/krump.jpg');
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
}
#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    /*background-color: rgba(24,24,24,0.8);*/
    color: white;
    font-size: 0.8em;
    background-color: #311847ff;
    
}

.bouton_rouge
{
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/********** BODY   **********/

section
{
    display: flex;
    margin-bottom: 0px;
    color: white;
    background-color: #311847ff;
}
article, aside
{
    text-align: justify;
}
article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}
aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    background-color: #311847ff;
}
#logo_origine
{
    text-align: center;
}

#logo_origine img
{
    border: 1px solid #181818;
}
aside img
{
    margin-right: 5px;
}
article{
    display: flex;
    flex-direction: row;
}
/* Footer */

footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 30px;
}
/*
#prof_de_danse ul
{
    /*list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}*/
#prof_de_danse a
{
    text-decoration: none;
    color: white;
}

footer{
    background-color: #311847ff;
    color: white;
}
img{
    width: 200px;
    height: 200px;
    align-items: center;
    border-radius: 30px;
}
